.navbar{
  background-color: magenta;

}
.navbar-brand{
  text-align: center;
  font-size: 30px;
  color: white;
}
.nav-item a{
  margin-left: 50px;
  font-size: 25px;
  
}
.nav-item .nav-link{
  text-align: center;
}
.d-flex .form-control{
  align-items: center;
}