<footer class="footer">
    <div class="social-media">
        <a href="https://www.linkedin.com/in/shaik-albas-8467bb2b2/" target="_blank""><i class='bx bxl-linkedin'></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram' ></i></a>
        <a href="https://github.com/iamshaikalbaz" target="_blank"><i class='bx bxl-github' ></i></a>
        <a href="https://x.com/ShaikAlbaz786" target="_blank""><i class='bx bxl-twitter' ></i></a>
    </div>

    <ul class="list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">About Me</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">Contct</a></li>
    </ul>

    <p class="copy-right">
        &copy;Shaik Albaz | All Rights Reserved
    </p>
</footer>