/* @import url("../header.css");
@import url("../footer.css");

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    list-style-type: none;
}
body{
    background-color: var(--main-color);
}
:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
}

.form {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 50px auto;
    align-items: center;
  
    justify-content: center;
    border-radius: 20px;
    box-shadow: 25px 25px 75px rgba(164, 146, 146, 0.25),
        10px 10px 70px rgba(207, 189, 189, 0.25),
        inset 5px 5px 10px rgba(172, 156, 156, 0.5),
        inset 5px 5px 20px rgba(255,255,255,0.2),
        inset -5px -5px 15px rgba(120, 116, 116, 0.75);
}
.form .label{
    padding: 40px;
    height: 75px;
    text-align: center;
    font-size: 25px;
   
    
}
.form .layout{
    width: 680px;
    height: 300px;
    margin: 10px auto;
   
}
.form .layout input{
    width: 300px;
    height: 40px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
        inset 2px 2px 5px rgba(0,0,0,0.5),
        inset -3px -3px 5px rgba(0,0,0,0.5);
}
.form .layout .button{
    margin-top: 30px;
    width: 100px;
    height: 50px;
    padding: 0px;
    border-color: palevioletred;
    text-align: center;
}
p{
    margin-left: 20rem;
    margin-top: 1rem;
}

@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    
}
@media(max-width:991px){
    .navbar-brand{
        font-size: 20px;
    }
    .form{
        width: 380px;
        height: 500px;
        
    }
    .form .label{
        font-size: 20px;
    
    }
    hr{
        margin-bottom: 30px;
    }
    .form .layout input{
        width: 280px;
        margin:30px;
        margin-top: -10px;
        margin-left: 10px;
    }
    .form .layout{
        width: 300px;
        
    }
    .form .layout .button{
        margin-left: 35%;
        width: 90px;
        margin-top: -10px;
    }
    .form .layout p{
        font-size: 16px;
        margin-top: -10px;
        margin-left: 12px;  
    }
}
@media(max-width:895px){
    .navbar-toggler{
        color: #1d312f;
    }
    .navbar-toggler-icon{
        color: #00ffee;
    }
    .nav-item .nav-link active{
        font-size: 20px;
        color: magenta;
    }
    .d-flex{
        text-align: center;
        height: 30px;
        font-size: 20px;
    }
    .d-flex .form-control{
        font-size: 17px;
    }
    .d-flex .btn-search{
        font-size: 17px;
        border: 2px solid yellow;
        color: wheat;
        
    }
    
} */