
<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head', { css: "empty", title: "Admin-Dashboard" }); %>
        <link rel="stylesheet" href="/css/LPcss/admin-dash.css">
    </head>
    <%- include('../dashboards/dashboard'); %>

    <body>
        
        <div class="content">
            <div class="boxex">
                <div class="box-1">
                    <a href="/admin/students/all" style="color: white;"><h3>View All Students</h3></a>
                    <i class="fa-sharp fa-solid fa-eye"></i>
            
                </div>
                <div class="box-2">
                    <a href="/admin/students/add" style="color: white;"><h3>Add Student</h3></a>
                    <i class="fa-solid fa-circle-plus"></i>
                </div>
                <div class="box-3">
                    <a href="/admin/stdapplications/all" style="color: white;"><h3>Approve Student</h3></a>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div class="box-4">
                    <h3>View Student fee</h3>
                    <i class="fa-solid fa-indian-rupee-sign"></i>
                </div>
            </div>
            
    </body>

    <%- include('../partials/footer'); %>
</html>
